In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline

In [9]:
screentime_data = pd.read_csv("data/screentime_app_details.csv")
screentime_data.head()

         Date  Usage  Notifications  Times opened        App
0  08/26/2022     38             70            49  Instagram
1  08/27/2022     39             43            48  Instagram
2  08/28/2022     64            231            55  Instagram
3  08/29/2022     14             35            23  Instagram
4  08/30/2022      3             19             5  Instagram

In [10]:
screentime_data.tail()

          Date  Usage  Notifications  Times opened       App
49  09/17/2022    212            212           120  Whatsapp
50  09/18/2022    244            303           132  Whatsapp
51  09/19/2022     77            169           105  Whatsapp
52  09/20/2022     58            190            78  Whatsapp
53  09/21/2022     89            262            68  Whatsapp

In [11]:
screentime_data.describe()

            Usage  Notifications  Times opened
count   54.000000      54.000000     54.000000
mean    65.037037     117.703704     61.481481
std     58.317272      97.017530     43.836635
min      1.000000       8.000000      2.000000
25%     17.500000      25.750000     23.500000
50%     58.500000      99.000000     62.500000
75%     90.500000     188.250000     90.000000
max    244.000000     405.000000    192.000000

In [13]:
screentime_data.isnull().sum()

Date             0
Usage            0
Notifications    0
Times opened     0
App              0
dtype: int64

In [15]:
screentime_data.columns

Index(['Date', 'Usage', 'Notifications', 'Times opened', 'App'], dtype='object')

In [23]:
screentime_data.App.value_counts()
#screentime_data.Usage.value_counts()

Instagram    27
Whatsapp     27
Name: App, dtype: int64

In [18]:
plt.bar(screentime_data.App)

TypeError: bar() missing 1 required positional argument: 'height'